@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
 

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
}

#fill{
  background-color:#000
}


#root {
  height: 100%;
  min-height: 100dvh;
  width: 100%;
}


.bg_light {
  background: url('/assets/bg_light.svg');
}

.bg_dark {
  background: url('/assets/bg.svg');
}


.bg-form {

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.bg-form_container {
  background-image: url('/assets/bg_form.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}