@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {


  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
}

#fill {
  background-color: #000
}


.active_dark {
  color: #fff;
}

.active_light {
  color: #000;
}

#root {
  height: 100%;
  min-height: 100dvh;
  width: 100%;
}

.bg-hero {
  /* background: #0000003d; */
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.219) 0%, rgba(0, 0, 0, 0.26) 100%);
  box-shadow:

    0 20px 10px 0 rgba(0, 0, 0, 0.26);
}

.bg_light {
  background: url('/assets/bg_light.svg');
}

.bg_dark {
  background: url('/assets/bg.svg');
}

.hero_gradient_text {
  background: linear-gradient(127deg,
      #55B3E7 0%,
      #AD6CFF 63%,
      #D9B2FF 96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.bg-form {

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.bg-form_container {
  background-image: url('/assets/bg_form.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.gradient_title {
  background: linear-gradient(127deg,
      #97FFF3 0%,
      #48CBF5 33%,
      #5BA6FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient_sub_title {
  background: linear-gradient(127deg,
      #55B3E7 0%,
      #AD6CFF 63%,
      #F4E9FF 96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient_btn {
  background: linear-gradient(127deg,
      #333333 0%,
      #000000 44%,
      #404040 93%);
}

.gradient_border {
  background: linear-gradient(127deg,
      #333333 0%,
      #000000 44%,
      #404040 93%) padding-box,
    linear-gradient(127deg, #D6ACE1, #949AD1) border-box;
  border-radius: 50em;
  border: 2px solid transparent;


}

.new {
  background: linear-gradient(127deg,
      #FFFFFF 0%,
      #081038 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient_card_bg_light {
  background: linear-gradient(90deg,
      #cfeeff65 0%,
      #FFFFFF 63%,
      #f4e9ff28 100%);


}

.gradient_card_bg_dark {
  background: linear-gradient(90deg,
      #55b4e727 0%,
      #ae6cff1a 63%,
      #f4e9ff15 100%);
  border-color: transparent;
}

.morph_bg {
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.extra {
  background: linear-gradient(to right,
      #55b4e77a 0%,
      #ae6cff98 63%,
      #d8b2ff85 96%);
}

.gradient_btn_light {
  background: linear-gradient(127deg,
      #E8E8E8 0%,
      #B9B9B9 44%,
      #ECECEC 93%);
}

.showImageBg {
  background: #161e2c url("/assets/showImage.svg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* -webkit-box-shadow: -1px 3px 5px 12px #0a1221;
  -moz-box-shadow: -1px 3px 5px 12px #0a1221;
  box-shadow: -1px 3px 5px 12px #0a1221; */
}

.gradient_text_green_to_teal {
  background: linear-gradient(to right,
      #52FF00 0%,
      #49F0E6 24%,
      #FEFEFE 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg_newLetter {
  background: linear-gradient(127deg,
      #9dff004b 0%,
      #6cff7186 63%,
      #ffc83c73 87%);
}

.footer_bg {
  background: linear-gradient(to bottom,
      #0A1221 0%,
      #0A213C 100%);

}